.form__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.arrow {
  position: fixed;
  top: 30px;
  right: 30px;
}

.input {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  outline: none;
  margin: 5px 0;
  border-radius: 12px;
  border: none;
}

.status {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin: 35vh 0;
}
